nav {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px ;
    margin-bottom: 30px;
    height:30px;
    font-family:monospace;
    font-weight: bold;
    margin-top: 20px;
      
    
    
  }
  #pluszjeldiv{
    float: right;
    border-left:1px solid rgb(255, 214, 214);
    border-right:1px solid rgb(255, 211, 211);
    
    
    margin-top: -16px;
    margin-bottom: -20px;
    text-align: center;
    padding-right: 23px;
    padding-top:18px;
    padding-bottom: 14px;

    
  }

  .logo {
    font-size: 22px;
  }
  .logoszoveg{
    margin-top: 5px;
    color:rgb(107, 107, 107);
    font-weight: 100;
  }
  .logodiv{
    display:flex;
    flex-wrap: nowrap;
    justify-content:left;
    flex-direction: column;
  }
  #mobilmenuul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  #mobilmenuul .mobilmenuli {
    margin-right: 20px;
  }
  
  #mobilmenuul .mobilmenuli a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    color:white;

    
  }
  
  #mobilmenuul .mobilmenuli a:hover {
    color: rgb(185, 185, 185);
  }
  
  .checkbtn {
    font-size: 30px;
    
    color: rgb(255, 0, 0);
    cursor: pointer;
    display: none;
    width:20px
  }
  
  #check {
    display: none;
    color: rgb(87, 87, 87);
    font-size: 12px;
  }
  
 #telefonmenu{
  display: none;
 }

  @media (max-width: 791px) {
    #telefonmenu{
      display:contents;
    }
    .help{
      display:none;
    }
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 5px;
      font-weight:100;
    }
  
    #mobilmenuul {
      position: fixed;
      top: 60px;
      right: -105%;
      background-color: rgb(255, 0, 0);
      width: 100vw;
      height:fit-content;
      margin-top: 33px;
      display: flex;
      flex-direction: column;
      z-index: 2;
      
      
      
      
      
    }
    #fejleclec{
      margin-left: 23px;
    }
  
    #mobilmenuul .mobilmenuli a{
      margin-left: 26px;
    }
    #mobilmenuul .mobilmenuli {
      
      
      width:100%;
      padding-top:15px;
      padding-bottom: 15px;
      border-bottom: rgb(255, 205, 205) solid 1px;  

      
      
      
    }
  
    #mobilmenuul .mobilmenuli a {
      font-size: 17px;
      
    }
  
    #check:checked ~ #mobilmenuul {
      right: 0;
    }
  }
#hambili{
  list-style: none;
}
#hamburger2{
  display: none;
}

  