nav {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px ;
    margin-bottom: 30px;
    height:30px;
    font-family:monospace;
    font-weight: bold;
    margin-top: 20px;
      
    
    
  }

  #telefonmenu{
    font-family:monospace;
  }
  #menuikon2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    display:none;
  }
  .pluszjel1{
    display: inline;
    float: right;
    color: white;
    padding-top: 25px;
    padding-left: 35px;
    padding-right:35px;
    border-left: #f1f1f1 1px solid;
    margin-top: -1px;
    margin-bottom: -15px;
  }
  .pluszjel2{
    display: inline;
    float: right;
    color: white;
    padding-top: 25px;
    padding-left: 35px;
    padding-right:35px;
    border-left: #f1f1f1 1px solid;
    margin-top: -1px;
    margin-bottom: -15px;
  }

  .logo {
    font-size: 22px;
  }
  .logoszoveg{
    margin-top: 5px;
    color:rgb(107, 107, 107);
    font-weight: 100;
  }
  .logodiv{
    display:flex;
    flex-wrap: nowrap;
    justify-content:left;
    flex-direction: column;
  }
  #mobilmenuul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  #mobilmenuul .mobilmenuli {
    margin-right: 20px;
  }
  
  #mobilmenuul .mobilmenuli a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    color:white;

    
  }
  
  #mobilmenuul .mobilmenuli a:hover {
    color: rgb(185, 185, 185);
  }
  
  .checkbtn {
    font-size: 30px;
    
    color: rgb(255, 0, 0);
    cursor: pointer;
    display: none;
    width:20px
  }
  
  #check {
    display: none;
    color: rgb(87, 87, 87);
    font-size: 12px;
  }
  
 #telefonmenu{
  display: none;
  z-index: 3;
 }
 .burgeritem{
  height: 43px;
  
  
  
  padding-bottom: 15px;
  padding-left:16px;
  display: flex;
  border-bottom: 1px rgb(255, 255, 255) solid;
  
}
.dropitem{

  height: 30px;
  padding-bottom: 5px;
  border: 1px solid #f1f1f1;
}
.dropitem a{
  margin-left:30px;
}

.menugomb {
  border: none;
  background-color: white;
}

.menugomb:hover {
  background-color: #d3d3d3;
}

.menuitem:hover {
  color: #eb5e5f;
}
.az2 {
  margin-bottom: 10px;
  width: 100%;
}
.dropdown-content3{
  display: none;
  min-width: 160px;
  width: 100%;
  position: relative;
  
}

.segitseg{
  font-family: monospace;
  font-size:25px;
}
.kissz {
  font-size: 15px;
  font-weight: normal;
  color: gray;
}
.help{
  display:flex;
  flex-wrap: nowrap;
  justify-content:right;
  height: 20px;
  width: 85vw;
  background-color: white;
  flex-direction: row;


  padding: 30px 14px;
  font-size: 14px;
  border: none;
  font-family:monospace;
  font-weight: bold;
  
  
  
  
 
}
  
  @media (max-width: 791px) {
    #telefonmenu{
      display:contents;
    }
    .help{
      display:none;
    }
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 5px;
      font-weight:100;
    }
  
    #mobilmenuul {
      position: fixed;
      top: 60px;
      right: -105%;
      background-color: rgb(255, 0, 0);
      width: 100vw;
      height:fit-content;
      margin-top: 33px;
      display: flex;
      flex-direction: column;
      z-index: 2;
      
      
      
      
      
    }
    #fejleclec{
      margin-left: 23px;
    }
    
  
    #mobilmenuul .mobilmenuli a{
      margin-left: 26px;
    }
    #mobilmenuul .mobilmenuli {
      
      
      width:100%;
      padding-top:15px;
      padding-bottom: 15px;
      border-bottom: rgb(255, 171, 171) solid 1px;  

      
      
      
    }
  
    #mobilmenuul .mobilmenuli a {
      font-size: 17px;
      
    }
  
    #check:checked ~ #mobilmenuul {
      right: 0;
    }
  }
#hambili{
  list-style: none;
}
#hamburger2{
  display: none;
}




@media only screen and (max-width: 791px) {


  .menuitem {
    font-size: 20px;
  }

  

  
  .topnav h1 {
    
    margin-left: 7.5%;
  }

  .topnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 4.1vh;
  }

  .topnav #myLinks {
    display: none;
    float: left;
    background-color: #ff000d;
    width: 100%;
  }

  .topnav a {
    padding-left: 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
    padding-left: 5%;
  }

  .topnav a:last-child {
    padding-bottom: 5px;
  }

  .topnav a.icon {
    top: 0;
    right: 0;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: #ff000d;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  
}










@media only screen and (max-width: 791px) {
  #kepdiv{
    justify-content: center;
  }

  .footer-section {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  

  

  

  .tartalom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .jobboldal {
    display: block;
    width: 90%;
    margin: 0 auto;
  }



  

  .melyikoldal {
    display: none;
  }

  #minar {
    margin-left: 0%;
  }

  menu {
    display: none;
  }

  .topnav h1 {
    
    margin-left: 7.5%;
  }

  .topnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 4.1vh;
  }

  .topnav #myLinks {
    display: none;
    float: left;
    background-color: #fd0e1a;
    width: 100%;
  }

  .topnav a {
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
    padding-left: 5%;
  }

  .topnav a:last-child {
    padding-bottom: 5px;
  }

  .topnav a.icon {
    top: 0;
    right: 0;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 0px;
    margin-top:20px;
    margin-right: 7px;
    padding: 0px;
    color: #FF4852;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

