
.help{
    display:flex;
    flex-wrap: nowrap;
    justify-content:right;
    height: 20px;
    width: 85vw;
    background-color: white;
    flex-direction: row;


    padding: 30px 14px;
    font-size: 14px;
    border: none;
    font-family:monospace;
    font-weight: bold;
    
    
    
    
   
}

.kep{
  width:10px;
  height: 10px;
}

#hihi{
  margin-left:7vw;
}
.szius{
  font-size:25px;
  margin-top: -18px ;
 
}

.szius2{
  margin-top: -18px;
}
.help a{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 5px;
    text-decoration: none;
}

.dropbtn {

    background:none;
    font-size: 14.49px;
    border: none;
    font-family:monospace;
    font-weight: bold;
    z-index: 2;
    
  }
  
  
 .felsofejlec{
  background-color: red;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  
 
 }
 #fejleclec{
  margin-left:8.3vw;
  color: white;
  font-family:monospace;
  font-size: 14px;
  padding-top: 27px;
  
 }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 150px;
    z-index: 2;
    
    
    
    
  }
 #ize{
  margin-top: 45px;
 }
  .dropdown-content a {
    color: rgb(119, 119, 119);
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    width:130px;
    border-bottom: 1px solid rgb(214, 214, 214);
    
  }
  
  .dropdown-content a:hover {background-color: #ddd; color: red;}
  .menusor:hover .dropdown-content {display: block;}
  
  nav {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    
  }
  
  ul li a:hover {
    color: lightgreen;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
 #telefonmenu{
  display: none;
 }

  @media (max-width: 768px) {
    #telefonmenu{
      display:contents;
    }
    .help{
      display:none;
    }
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul {
      position: fixed;
      top: 60px;
      right: -100%;
      background-color: green;
      width: 100vw;
      height: 50vh;
      
      display: flex;
      flex-direction: column;
      
      
    }
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }

  

  