#banner{
    width: 100%;
}

#elsokepkiemelt{
    width: 100%;
    height: 23.5vw;
}
.indexcontainer{
    display: flex;
    width: 96%;
    flex-direction:row;
    flex-wrap: nowrap;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.indexcontainer>div{
    width: 30%;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
    background-color: lightgray;
    box-shadow: 5px 5px 2px rgb(141, 141, 141);
    
}

.indexcontainer>div>img{
    width: 100%;
}

.indexcontainer>div>button{
    padding: 5%;
    width: 80%;
    background-color: red;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 2px rgb(141, 141, 141);
    height: 4vw;
    color: white;
    font-size: 1.6vw;

}

.indexcontainer>div>h1{

    font-size: 3vw;

}


/*Kisikonok*/

.masodikcontainer{
    display: flex;
    margin-top: 5%;
    background-color: lightgray;
    padding: 2%;
    text-align:center;
    align-items: baseline;
    justify-content: baseline;

}

.masodikcontainer > div>  img {
    width: 15%;
    padding-right: 5%;
    

}

.masodikcontainer> div{
    display: flex;
    text-align:center;
    align-items: baseline;
    justify-content: baseline;
    font-size: 2.5vw;
    word-wrap:break-word;
    font-weight: bold;


}


#topgomb {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: none;
    padding: 15px;
    border-radius: 10px;
}


/* ------------------LÁBLÉC ------------------*/


footer {
    width: 100%;
    height: auto;
    background-color: rgb(22, 18, 31);
    display: flex;
    color: white;
    font-size: 1.1vw;
}

.footercontainer {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.belsofootercontainer {
    width: 30%;
    color: #9795b1;
}

.belsofootercontainer>h2 {
    color: white;
    font-size: 1.2vw;
}

.belsofootercontainer>p {
    font-size: 1vw;
}

.belsofootercontainer>img {

    display: flex;
    width: 8%;

}

#belsofootercontainerutso {
    display: inline;
    position: relative;
}

#torzs {
    font-size: 1vw;
}


.sale {
    width: 30%;
    position: absolute;
    top: -18px;
    left: -20px;
}

.sale1 {
    width: 30%;
    position: absolute;
    top: -18px;
    left: -20px;
}

.belsofootercontainer:nth-of-type(3) {
    margin-top: 2%;
}

#feherrepeatnyil {
    margin-top: 4%;
}

#penztarca {
    margin-bottom: 2%;
}

.jobb>.felsorolas_item {
    font-size: 1.1vw;
}





/* Lábléc reszponzivitása */
@media only screen and (max-width: 700px) {
    .belsofootercontainer>p {
        font-size: 4vw;
    }

    .belsofootercontainer>h2 {
        font-size: 4vw;
    }

    .belsofootercontainer>div {
        margin-left: 5%;
    }

    .belsofootercontainer {
        font-size: 4vw;
        width: 100%;
    }

    .footercontainer {
        flex-direction: column;
        font-size: 2vw;
        align-items: center;
    }

    .belsofootercontainer:first-child {
        margin-left: 15%;
    }

    #feherrepeatnyil {
        margin-top: 5%;
    }

    #penztarca {
        margin-top: 0%;
    }

    #belsofootercontainerutso>h2 {
        margin-top: 5%;
    }

    footer {
        text-align: center;
    }
}