
.help{
    display:flex;
    flex-wrap: nowrap;
    justify-content:right;
    height: 20px;
    width: 85vw;
    background-color: white;
    flex-direction: row;


    padding: 30px 14px;
    font-size: 14px;
    border: none;
    font-family:monospace;
    font-weight: bold;
    
    
    
   
}

.kep{
  width:10px;
  height: 10px;
}

#hihi{
  margin-left:7vw;
}
.szius{
  font-size:25px;
  margin-top: -18px ;
 
}

.szius2{
  margin-top: -18px;
}
.help a{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 5px;
    text-decoration: none;
}

.dropbtn {

    background:none;
    font-size: 14.49px;
    border: none;
    font-family:monospace;
    font-weight: bold;
    
  }
  
  
 .felsofejlec{
  background-color: red;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  
 
 }
 #fejleclec{
  margin-left:8.3vw;
  color: white;
  font-family:monospace;
  font-size: 14px;
  padding-top: 27px;
  
 }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 150px;
    
    
    
    
  }
 #ize{
  margin-top: 45px;
 }
  .dropdown-content a {
    color: rgb(119, 119, 119);
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    width:130px;
    border-bottom: 1px solid rgb(214, 214, 214);
    
  }
  
  .dropdown-content a:hover {background-color: #ddd; color: red;}
  .menusor:hover .dropdown-content {display: block;}
  