#nagydiv{
    width: 80vw;
    height: 600px;
    background-color: rgb(224, 224, 224);
    box-shadow: 5px 5px rgba(36, 36, 36, 0.603);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
  
#kozepsodiv{
width:70vw;
margin:20px;
}
#baloldaldiv{
    width:10vw;
    margin:20px;

}
#jobbdiv{
    width:20vw;
    margin:20px;
}
#pfp{
    width:200px;
    height: 200px;
}