#kozepdiv{
    width: 350px;
    height: 400px;
    background-color: rgb(235, 235, 235);
    margin-left: auto;
    margin-right:  auto;
    border-radius: 15px;
    box-shadow:  5px 5px rgb(218, 74, 74);

}
#kozepdiv:hover{
     box-shadow: 5px 5px rgb(36, 36, 36);
}

#welcome{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: monospace;
}
h2{
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 25px;
   padding-bottom: 20px;
}
h5{
    color: black;
   
    margin-left: 45px;
}
input[type=email]{
    font-size: 16px;
    width:250px;
    border-radius: 4px;
    border: none;
    height: 25px;
    margin-left: 30px;
    
    
}
input[type=password]{
    font-size: 16px;
    width:250px;
    border-radius: 4px;
    border: none;
    height: 25px;
    margin-left: 30px;
    color: #a33c3b;
    
     
}
input[type=button] {
    color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 150px;
margin-left: 25%;
   
  }
#accname{
    font-size: 16px;
    width:250px;
    border-radius: 4px;
    border: none;
    height: 25px;
    margin-left: 30px;
    color: #a33c3b;
}
  #accinput{
    font-size: 15px;
    width:250px;
    border-radius: 4px;
    border: none;
    height: 25px;
    margin-left: 30px;
    margin-bottom: -3px;
    color: #a33c3b;
   
  }

 
  input[type=button]:hover{background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;}

   
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    margin-top: 50px;    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
    .typewriter-animation {
        animation: 
          typewriter 10s steps(50) 1s 1 normal both, 
          blinkingCursor 500ms steps(50) infinite normal;
      }
      @keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
      }
      @keyframes blinkingCursor{
        from { border-right-color: rgba(255, 255, 255, 0.75); }
        to { border-right-color: transparent; }
      }
